#root {
  margin: 0 auto;
  text-align: center;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.rewriting-text {
  animation: typing 3s steps(20) infinite, blink 0.75s step-end infinite;
}
